@import 'template';

html {
    background-size: cover;

    @media screen and (max-height: 420px) {
        background-size: contain;
        background-position: bottom; 
    }
}

body {
    @media screen and (min-width: 825px) {
        height: 100vh;     
    }
}

.container {
    height: 60vh;

    @media screen and (min-width: 825px) {
        height: 60vh;     
    }

    @media screen and (max-height: 420px) {
        height: inherit;
    }
}

section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        text-align: center;
        font-family: titre;
        font-size: 2.25em;
        //margin-block-start: 0;
        margin-block-end: 0;

        @media screen and (max-height: 420px) {
            margin-block-start: 0;
        }

        @media screen and (max-width: 1024px) and (min-width: 768px) {
            margin-block-start: 0;
        }
    }

    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 75%;
        margin-block-end: 0;

        #tel {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media screen and (min-width: 825px) {
                flex-direction: row;     
            }

            @media screen and (max-height: 420px) {
                flex-direction: row;
            }
        }

        #telM {
            justify-self: left;
        }

        #telJ {
            justify-self: right;
        }

        .nomtel {
            font-family: titre;
            font-size: 2em;
        }
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#DIVcarte {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 825px) {
        margin-bottom: 2vh;     
    }

    @media screen and (max-height: 420px) {
        margin-top: 4vh;
        margin-bottom: 12vh;  
    }

    img {
        height: 20vh;

        @media screen and (min-width: 825px) {
            height: 35vh;     
        }

        @media screen and (max-height: 420px) {
            height: 50vh;
        }
    }
}