@import 'template';

/* ACCUEIL STYLE */
html {
    background-size: cover;
}

body {
    min-height: 100vh;
}

.container {
    height: 56vh;

    @media screen and (max-height: 420px) {
        height: 70vh;
    }
}

section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:63.5vh;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}