@import 'template';

/* CONNEXION STYLE */
html {
    background-size: cover;
}

body {
    height: 100vh;
}

.container {
    height: 74vh;
}

form {
    display: grid;
    grid-template-rows: [row1] 33% [row2] 33% [row3] 33%;
    grid-template-columns: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 40vh;

    div:not(:nth-child(3)) {
        display: grid;
        align-items: center;
        grid-template-columns: [col1] 45% [col2] 55%;

        label {
            @media screen and (min-width: 1200px) {
                margin-left: 20vh;    
            }   

            @media screen and (min-width: 1300px) {
                margin-left: 25vh;    
            }   
            
            @media screen and (min-width: 1500px) {
                margin-left: 30vh;    
            }  
        }

        input {
            justify-self: center;
        }

        label {
            justify-self: center;
        }

        span {
            grid-column: 1;
            line-height: 1.75em;
        }

        input {
            grid-column: 2;
            height: 3vh;
            width: 40%;

            @media screen and (min-width: 1200px) {
                margin-right: 20vh;    
            }  
            
            @media screen and (min-width: 1300px) {
                margin-right: 25vh;    
            } 
            
            @media screen and (min-width: 1500px) {
                margin-right: 30vh;    
            }  


            @media screen and (max-height: 420px) {
                height: 6vh;
            }
        }
    }

    div:nth-child(1) {
        grid-row: 1;
    }

    div:nth-child(2) {
        grid-row: 2;
    }

    div:nth-child(3) {
        grid-row: 3;
        display: flex;
        justify-content: center;

        input {
            height: 4vh;
            width: 20vw;

            @media screen and (max-height: 420px) {
                height: 6vh;
            }
        }
    }
}

#formOk {
    height: 6vh;
}

article {
    display: flex;
    justify-content: center;
    height: 8vh;
}

