@import 'template';

/* INFORMATIONS STYLE */

section, article {
    width: 100%;
}

section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#prieure, #mairie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prieure, #mairie {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        p, ul {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: center;
            width: 80%;

            img {
                display: flex;
                justify-content: center;
                height: auto;
                width: 60%;
                margin: 0;

                @media screen and (min-width: 1220px) {
                    width: 50%;     
                }
            }
        
            .timeline {
                width: 60%;

                @media screen and (min-width: 1220px) {
                    width: 50%;     
                }
            }

            #priext {
                margin-bottom: 2em;
            }   
        }      
    }  
}

#ornement {
    width: 30%;
    height: auto;
}

iframe {
    height: 30vh;
    width: 60%;  

    @media screen and (min-width: 1220px) {
        width: 50%;     
    }

    @media screen and (min-width: 1024px) {
        height: 40vh;
    }
    @media screen and (max-height: 420px) {
        height: 40vh;
    }
}

.date {
    margin-block-end: 0;
}

#dateP {
    color: #a172a7;
    font-size: 3em;
}

#dateM {
    color: #607E86;
}

.cere {
    margin-block-start: 0.5em;
}

.pGene {
    width: 60%;
}

#hLend {
    margin-block-end: 0.75em;
}

#pLend {
    margin-block-start: 0;
}