@import 'template';

/* INFORMATIONS STYLE */

section, article {
    width: 100%;
}

section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#prieure, #mairie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prieure > div h3, #mairie > div h3 {
    display: flex;
    justify-content: center;
    font-family: titre;
    font-size: 3em;
    font-weight: normal;
}



#prieure, #mairie {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        p, ul {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: center;
            width: 80%;

            img {
                display: flex;
                justify-content: center;
                height: auto;
                width: 60%;
                margin: 0;
            }
        
            .timeline {
                width: 60%;
            }
        }      
    }  
}

iframe {
    height: 30vh;
    width: 60%;  

    @media screen and (min-width: 1024px) {
        height: 40vh;
    }
    @media screen and (max-height: 420px) {
        height: 40vh;
    }
}